*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-size: inherit;
}

body {
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-width: 700px;
    min-height: 600px;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 0 auto;
}

.controls__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    font-size: 15px;
}

.controls__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.companyList {
    display: flex;
    justify-content: center;
}

.companyList__item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.companyList__item:not(:last-child) {
    margin-right: 25px;
}

.companyList__item-info {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column-reverse;
    margin-top: 10px;
}

.companyList__name-wrapper {
    text-align: center;
    margin-top: 5px;
}

.companyList__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid black;
}

.companyList__line-wrapper {
    display: flex;
    flex-direction: column-reverse;
    font-size: 14px;
}

.companyList__item-line {
    border: transparent;
    background-color: #c1c4c9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 5px;
    transition: all 250ms linear;
}

@media screen and (min-width: 768px) {
    .wrapper {
        min-height: auto;
        display: block;
    }
    
    .controls__wrapper {
        margin-top: 0;
        margin-bottom: 20px;
    }
    
    .controls {
        font-size: 25px;
    }
    
    .controls__label {
        margin-bottom: 20px;
    }
    
    .companyList {
        display: block;
    }

    .companyList__item {
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .companyList__item:not(:last-child) {
        margin-right: 0;
    }
    
    .companyList__item-info {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px 0 10px;
        margin-top: 0;
        width: 200px;
    }
    
    .companyList__name-wrapper {
        text-align: start;
        margin-top: 0;
    }
    
    .companyList__item-name {
        margin-bottom: 5px;
    }
    
    .companyList__item:not(:last-child) {
        margin-bottom: 20px;
    }

    .companyList__line-wrapper {
        flex-direction: row;
        align-items: center;
    }
    
    .companyList__item-line {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-top: 0;
        margin-right: 5px;
        transition: all 250ms linear;
    }
    
    .radioContainer__label input {
        margin-right: 5px;
    }
}